* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(48, 49, 54);
  margin-left: 24%;
  margin-right: 24%;
  overflow: scroll;
}
h1 {
  color: white;
}
.shape {
  height: 30vh;
}
label {
  display: block;
  margin-top: 10px;
  text-align: left;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin-top: 5px;
  font-size: 25px;
  color: white;
  text-align: left;
}
p {
  margin-top: 5px;
  font-size: 25px;
  color: white;
  text-align: left;
}
input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 8px;
  border: 1px solid #4a4747;
  border-radius: 4px;
  background-color: transparent;
  text-align: right;
  font-size: 50px;
  color: white;
}
input:focus {
  background: transparent;
  outline: none;
}
input::placeholder {
  font-size: 40px;
  align-items: center;
  color: white;
}
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(127, 171, 247);
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-family: sans-serif;
  transition-duration: 1s;
  font-weight: bold;
}
button:hover {
  background-color: rgb(165, 196, 249);
}
.buttons {
  display: flex;
}
.btn{
  padding: 10%;
  width: 75%;
}
.Score_Value{
  color: white;
}
.icons{
  height: 50px;
}